<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>

    {{>footer}}
</body>
</html>