<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <div>
            <p>This is a weather forecast app powered by node.JS. It uses data from mapbox.com and weatherstack.com.</p>
            <p>Created by {{name}}</p>
        </div>
        <img src="/images/dice.png" class="dice">
    </div>

    {{>footer}}
</body>
</html>